@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: #d6eaf8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.contFormulario {
    text-align: center;
    width: 400px;
    background: #f4f4f4;
    padding: 20px;
    border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select {
    font-family:'Lato';
    font-weight: 300;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    font-family: 'Lato', sans-serif;
    width: 100%;
    background-color: #2e86c1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
